@font-face {
    font-family: 'action_manbold';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_bold_macroman/Action_Man_Bold-webfont.eot');
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_bold_macroman/Action_Man_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_bold_macroman/Action_Man_Bold-webfont.woff') format('woff'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_bold_macroman/Action_Man_Bold-webfont.ttf') format('truetype'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_bold_macroman/Action_Man_Bold-webfont.svg#action_manbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'action_manitalic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_italic_macroman/Action_Man_Italic-webfont.eot');
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_italic_macroman/Action_Man_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_italic_macroman/Action_Man_Italic-webfont.woff') format('woff'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_italic_macroman/Action_Man_Italic-webfont.ttf') format('truetype'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_italic_macroman/Action_Man_Italic-webfont.svg#action_manitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'action_manregular';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_regular_macroman/Action_Man-webfont.eot');
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_regular_macroman/Action_Man-webfont.eot?#iefix') format('embedded-opentype'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_regular_macroman/Action_Man-webfont.woff') format('woff'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_regular_macroman/Action_Man-webfont.ttf') format('truetype'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/actionman_regular_macroman/Action_Man-webfont.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.wti-hide { display:none; }
.text-center { text-align:center; }
.text-right { text-align:right; }
.margin-right { margin-right:5px; }
#wti_panel { 
	z-index:100000000;
	border:3px solid #000; 
	position:fixed; 
	top:0; 
	right:0; 
	background:white; 
	width:20%; 
	padding-bottom:50px;
	height:100%;
	overflow-y: auto; 
	overflow-x: hidden;
	font-family:'action_manbold',sans-serif;
	background: #666;
	color:#333;
	font-size:16px;
}
#wti_panel a {
	color: #555; 
}
#avatar { position:absolute; z-index:1000000000; top:0; left:0; width:40px; }
#wti_panel.active { left:0; }
#wti_panel_wrap { position:relative; padding:5px 15px 0px 5px;  }
#wti_panel_wrap .container { width:100%; }
#wti_panel .row { margin-bottom:10px; }
#tooltip-inner { font-family: "Arial" !important; font-size:10px !important;}

#wti_debug_panel { padding:4px 0 4px 10px; text-align:left; width:100%; height:100px; overflow: scroll; background: #000; color: #00FF00; position:fixed; bottom:0;}

#titleBar { background:#000; color:#fff; padding:3px 0 4px 0; }

#iconrow { width:100%; background:#000; position:absolute; bottom:0; }
#iconrow .row { width:100%; padding: 5px 0 5px 0; }

#ARL { position:absolute; top:0; left:0; width:50px; height:50px; }
#LHL { position:absolute; top:80px; right:-10px; width:100px; }
#RHL { position:absolute; top:100px; left:10px; width:80px;}
#characterStatus { font-size:14px; }
#cATK,#cMAG,#cDEF,#cSPD {
	border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 50px;
    height: 50px;
    
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    
    font: 32px Arial, sans-serif;
    margin:0 auto;
    padding-top:4px;
    
}

/* NPC Styles */
.wti-npc { position:absolute; }
.wti-npc.actions > .actionpane { display:none; }
.wti-npc:hover.actions > .actionpane { display:block; }

/* Item Styling */
.item { min-height:65px; width:100%; padding:3px; }
.equip > img { max-height:50px; text-align:center;}

#cCBB { background: #ffcc00; }
#dialog { overflow-y:hidden; height:190px; font-family:'action_manregular',sans-serif; font-size:30px; line-height:40px; }
#dialog button { margin-right:10px; }
#dialog strong {font-family:'action_manbold',sans-serif; color:#fff;}
#dialog em { font-family:'action_manitalic',sans-serif; }
#dialogTree { list-style-type:none; margin:0; }
#dialogTree > li { list-style:none; height:160px; margin-bottom:10px;width:100%; }
#dialog-next { margin-top:100px; font-size:18px; color:#fff; }

#eventWindow { margin-top:10px; min-height:150px; background: #444; padding:5px; }
#eventWindow > .nav > li > a { padding: 3px 5px 3px 5px; }
.panel { border:1px solid red; }

#pit { position:absolute; z-index:10000; top:-5%; left:-10%; }
#pit > a { position: absolute;
z-index: 1000000000;
top: 40%;
left: 48%;
}
#eyes { width: 100px; }
#eyecon { color:#f00; line-height:20px; }
#dragon { width: 500px; height:auto; }
#grumpy { width: 800px; height:auto; }
.unstyled { list-style-type:none; list-style:none; }
.unstyled > { list-style-type:none; list-style:none; }
.evenbtns li { margin-top:10px; }
.evenbtns button { width:200px; }
#characterName { color: #fff; font-family:'action_manregular',sans-serif; font-size:50px; margin-bottom:0; position: relative !important; text-align:center; }

@-webkit-keyframes rumble {
    0% {-webkit-transform: rotate(0deg);}
    25% {-webkit-transform: translate(6px, 0px) rotate(-9deg);}
    50% {-webkit-transform: translate(0px, -6px) rotate(0deg);}
    75% {-webkit-transform: translate(-6px, 0px) rotate(9deg);}
    100% {-webkit-transform: translate(0px, 6px) rotate(0deg);} 
}
.rumble, .rumble-hover:hover, .rumble-active:active {
    -webkit-animation: rumble .0625s infinite linear;
}

