<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
<style>
	#characterSheet {
		width: 300px;
	}
</style>
<div id="characterSheet">
	<div id="characterIcon">
		<img src="" />
	</div>
	<div id="characterStatus">
		<div id="characterHealth">
			Health:
			<div class="progress">
			  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			  </div>
			</div>
		</div>
		<div id="characterMana">
			Mana:
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			  </div>
			</div>
		</div>
		<dic id="characterExperience">
			Experience: 
			<div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			  </div>
			</div>
		</div>
	</div>
	<div id="characterItems">
		
	</div>
</div>